BasedOnStyle: llvm
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: false
BraceWrapping:
  AfterControlStatement: false
  AfterEnum:       true
  AfterFunction:   false
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      false
  IndentBraces:    false
BreakBeforeBraces: Custom
SpaceBeforeParens: Never
